.container
{
  display:flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.centered-elem {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.card-image
{
  margin-left: auto; 
  margin-right: auto; 
  width: auto; 
  height:100px;
}

.card-content
{
  height:150px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}

.template-card
{
  width: 300px; 
  height: 300px;
}

.template-card:hover{
  cursor: pointer;
}